@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

body {
    font-family: "Raleway", serif;
}

h2 {
    font-size: 1.1rem;
}

.card-1 {
    border: 1px solid;
    padding: 1rem;
    width: 22rem;
}

.login-form-field {
    margin-bottom: 0.5rem;
}

.login-form-field label {
    display: inline-block;
    min-width: 5rem;
}

#login-form .error {
    color: #bc0505;
    font-size: 0.75rem;
    text-align: center;
}

#login-button {
    margin-left: 5rem;
}

#profile-component {
    display: none;
}

#profile-component .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-container {
    display: flex;
    column-gap: 1.5rem;
    justify-content: space-between;
}

#profile-container h3 {
    font-size: 1rem;
}

#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

#profile-info .avatar {
    width: 5rem;
}

#profile-email{
    font-size: .7rem;
}

.profile-property {
    font-size: 0.9rem;
}

.grades-row {
    padding-bottom: .2rem;
    margin-bottom: 0.4rem;    
    border-bottom: 1px solid rgb(226, 226, 226);
}

.grades-col {
    display: inline-block;
    font-size: 0.9rem;
}

.grades-col:not(:first-child) {
    margin-right: .6rem;
}